:root{
  --button:#2196F3;
  --header-text:#000000;
  --cap:#2F303A;
  --Features:#757575;
  --Modern-Tehnologies:#212121;
  --Basement:#FFFFFF;
  --Our-team:#F5F4FA;

}
  
  header {
    background-color: var(--Basement);
    text-align: center;
    color: var(--header-text);
  }
  
  footer{
    background-color: var(--cap);
    color: var(--Basement);
  }
  div{
    background-color: var(--cap);
    color: var(--Basement);
    text-align: center;
  }
  li{
    list-style-type: none;
  }