@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto";
  animation: fadeIn 1.5s ease-in-out;
}
header {
  font-family: "Raleway";
}
footer {
  width: 100%;
  height: 252px;
  font-family: "Roboto";
}

:root {
  --button: #2196f3;
  --header-text: #000000;
  --cap: #2f303a;
  --Features: #757575;
  --Modern-Tehnologies: #212121;
  --Basement: #ffffff;
  --Our-team: #f5f4fa;
}

.ul,
.header_ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.ul-li,
.header_text_1,
.header_text,
.header_li,
.header_text_3,
.li_text {
  position: relative;
  font-size: 30px;
  cursor: pointer;
}
.ul-li::after,
.header_text_1::after,
.header_text::after,
.header_li::after,
.header_text_3::after,
.li_text::after {
  content: "";
  position: absolute;
  background: black;
  top: 32px;
  right: 0px;
  height: 3px;
  width: 100%;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.6s;
}
.ul-li:hover::after,
.header_text_1:hover::after,
.header_text:hover::after,
.header_li:hover::after,
.header_text_3:hover::after,
.li_text:hover::after {
  transform: translateX(0px);
  opacity: 1;
}

.header_ul {
  height: 600px;
  width: 100%;
  display: flex;
}

.header_text_3::before {
  position: absolute;
  left: 23px;
  content: url(./finger\ 1.svg);
  top: 30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.block {
  width: 100%;
  height: 600px;
  /* background: url(./Шапка.png) ; */
}
.block-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  color: #fff;
  margin-left: 692px;
  margin-bottom: 200px;
  text-align: center;
  padding: 5px 5px;
}

.header_ul li {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  font-size: 14px;
  letter-spacing: 0.48px;
}

.header {
  height: 80px;
  width: 100%;
  background-color: var(--Basement);
  color: var(--header-text);
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header_logo {
  margin-top: 24px;
  margin-right: 93px;
}

.header_text_1 {
  position: absolute;
  top: 32px;
  color: #2196f3;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  font-size: 14px;
  letter-spacing: 0.48px;
}

.header_text {
  position: absolute;
  margin-left: 190px;
  margin-top: 32px;
  margin-right: 50px;
}

.header_text_3 {
  margin-top: 32px;
  color: #2196f3;
  margin-left: 692px;
  position: absolute;
}

.header_text_h {
  margin-top: 24px;
  color: #2196f3;
  margin-right: 50px;
}

.header_li {
  position: absolute;
  margin-top: 32px;
  margin-left: 313px;
}
.header_ul {
  display: flex;
}

.li_text {
  width: 100%;
  width: 142px;
  height: 16px;
  margin-left: 883px;
  margin-top: 32px;
}
.li_text::before {
  content: url("./Vector.svg");
}

.header_ul li {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}
.header {
  margin: 0 auto;
  display: flex;
  height: 80px;
  background-color: var(--Basement);
  color: var(--header-text);
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header_nav {
  margin: 0 auto;
  display: flex;
  width: 1170px;
}

.header_logo {
  margin-right: 93px;
}
.header_text1 {
  top: 24px;
}

.header_text {
  margin-top: 32px;
  margin-right: 50px;
}

footer {
  background-color: var(--cap);
  color: var(--Basement);
}
.block {
  background-color: var(--cap);
  color: var(--Basement);
}

li {
  list-style-type: none;
}

.article-text {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;

  margin-bottom: 94px;
  margin-top: 50px;
}

.services-headline {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

#img_svg {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}

.headline-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.p-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.services-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.Clients {
  margin-top: 94px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  border-color: #fff;
  color: #212121;
}

.father {
  display: flex;
}

.input_name {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  position: absolute;
  margin-top: 150px;
  margin-left: 800px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

#E_mail {
  color: #ffffff;
  background-color: #2f303a;
}

.wrapper {
  margin-left: 815px;
  position: absolute;
}

.h1_class {
  margin-top: 72px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.box {
  position: absolute;
  margin-top: 72px;
  display: flex;
  margin-left: 516px;
}

.Ellipses {
  margin-right: 12px;
  margin-top: 32px;
}

.join_us {
  margin-left: 100px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.pictures {
  justify-content: space-between;
  position: absolute;
}

.Basement_to_the_right {
  margin-left: 70px;
  position: absolute;
}

.Camera {
  display: flex;
  margin-left: 207px;
  margin-bottom: 95px;
  margin-top: 50px;
}

.new_clients {
  margin-right: 32px;
}

.services-list .services-item {
  width: 270px;
}
.main-team {
  background-color: #afb1b8;
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-team-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

.main-team-list li {
  width: 270px;
  background-color: white;
  height: 368px;
}

.main-team-list img {
  width: 270px;
  height: 260px;
}

.main-team-list h3 {
  padding-top: 30px;
}
.main-team-list p {
  padding-top: 10px;
}
.my-team {
  text-align: center;
}
.header-logo {
  background-color: #2196f3;
  color: #ffffff;
}
.footer_the_end {
  color: var(--Basement);
  height: 252px;
  padding-left: 20px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 24px;
}

.big_text {
  margin-left: 215px;
  color: #2196f3;
  padding-top: 60px;
}
.block-text {
  margin: 0 auto;
  width: 60%;
  padding-top: 200px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.text_button {
  background-color: var(--cap);
  color: var(--Basement);
  text-align: center;
}
li {
  list-style-type: none;
}

.header_logo {
  text-decoration: none;
}

.text_footer {
  background-color: #2f303a;
  width: 400px;
  height: 21px;
  margin-left: 215px;
}

.article-text {
  position: relative;
  display: flex;
}

.article-text li {
  margin-bottom: 20px;
}

.article-text img {
  display: block;
}

.article-text .caption {
  position: absolute;
  bottom: -20px;
  width: 316px;
  text-align: center;
  background-color: rgba(35, 19, 53, 0.5);
  color: white;
  padding: 30px;
}

.htwo_article {
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.my-team {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.caption {
  margin-bottom: 20px;
}

.footer_the_end p {
  display: flex;
  color: #757575;
  background-color: #2f303a;
  padding-left: 215px;
}

.services-item1::before {
  content: url("./Vector.png");
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.services-item2::before {
  content: url("./Vector\ \(1\).png");
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.services-item3::before {
  content: url("./astronaut\ 1.png");
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.services-item4::before {
  content: url("./Group.png");
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.img_instagram {
  background-color: #2196f3;
}

.main-team-item {
  width: 270px;
  height: 428px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.send {
  margin: 20px auto 10px auto;
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  color: #fff;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  margin-left: 5px;
  background-color: blueviolet;
  margin-left: auto;
}

.btn {
  background-color: #b2c0e5;
  margin-left: 70%;
  position: absolute;
  border-radius: 50%;
}

.container {
  width: 30%;
}

.modal-name {
  margin-top: 30px;
  opacity: 0.5;
}

.backdrop {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  top: 50%;
  height: 500px;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}
