
  
  header {
    background-color: #ffffff;
    text-align: center;
    color: #000;
  }
  
  footer{
    background-color: #2F303A;
    color: #fff;
  }
  div{
    background-color: #2F303A;
    color: #fff;
    text-align: center;
  }
  li{
    list-style-type: none;
  }